[Unit]
Description=Run feature drift monitor every 6 hours
Requires=drift-monitor.service

[Timer]
OnCalendar=*-*-* 00,06,12,18:05:00
RandomizedDelaySec=120
Persistent=true

[Install]
WantedBy=timers.target
